.post {
  background-color: white;
  border-radius: 0.7rem;
  margin: 0.8rem;
  padding: 0.5rem 1rem;
  text-align: left;
  width: 80rem;
}

.posted-time, .post-title, .upvotes {
  margin: 0.8rem 0;
}

.posted-time {
  font-size: 0.8rem;
  font-weight: 400;
}

.post-title {
  font-size: 1.2rem;
  margin: 0.8rem 0;
}

.upvotes {
  font-size: 0.9rem;
}