.post {
  background-color: white;
  border-radius: 0.7rem;
  margin: 0.5rem;
  /* margin: 0.8rem; */
  /* padding: 0.5rem 1rem; */
  padding: 1rem;
  text-align: left;
  width: 80rem;
  /* width: 85rem; */
}

.posted-time, .post-title, .upvotes {
  margin: 0.8rem 0;
}

.posted-time {
  font-size: 0.9rem;
  font-weight: 400;
}

.post-title {
  font-size: 1.2rem;
  margin: 0.8rem 0;
}

.upvotes {
  font-size: 0.9rem;
}

.post-link {
  text-decoration: none;
  color: black;
}

/* .post-title-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0.8rem 0;
} */

.flair {
  padding: 0.1rem 0.7rem;
  margin-left: 0.3rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: white;
  text-shadow: 0 0 0.1rem black, 0 0 0.07rem black;
}

.Discussion {
  /* background-color: var(--kagamine-color); */
  /* background-color: var(--ichika-color); */
  /* background-color: var(--minori-color); */
  /* background-color: var(--kohane-color); */
  /* background-color: var(--tsukasa-color); */
  background-color: var(--kanade-color);
}

.Achievements {
  /* background-color: var(--luka-color); */
  /* background-color: var(--saki-color); */
  /* background-color: var(--haruka-color); */
  /* background-color: var(--an-color); */
  /* background-color: var(--emu-color); */
  background-color: var(--mafuyu-color);
}

.Question {
  /* background-color: var(--meiko-color); */
  /* background-color: var(--honami-color); */
  /* background-color: var(--airi-color); */
  /* background-color: var(--akito-color); */
  /* background-color: var(--nene-color); */
  background-color: var(--ena-color);
}

.Gameplay {
  /* background-color: var(--kaito-color); */
  /* background-color: var(--shiho-color); */
  /* background-color: var(--shizuku-color); */
  /* background-color: var(--touya-color); */
  /* background-color: var(--rui-color); */
  background-color: var(--mizuki-color);
}

.post-author {
  /* color: var(--miku-color); */
  /* color: var(--ln-color); */
  /* color: var(--mmj-color); */
  /* color: var(--vbs-color); */
  /* color: var(--wxs-color); */
  color: var(--n25-color);
}