.update-post-form {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem 2rem;
  width: 40rem;
  height: auto
}

.update-post-btn {
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}