.nav-bar-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0;
	z-index: 1;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	padding: 1rem;
	margin: auto;
	align-items: center;
	justify-content: space-between;
	color: white;
}

.nav-bar-list {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	list-style-type: none;
	margin: 0;
	color: white;
	align-items: center;
}

.header-link,
.link {
	color: white;
	text-decoration: none;
}

.link {
	font-weight: 600;
	font-size: 1.2rem;
}

.settings-icon {
	user-select: none;
}

.link:hover,
.settings-icon:hover {
	color: rgb(211, 211, 211);
}

.header {
	padding: 0;
	margin: 0;
	font-size: 1.6rem;
	font-weight: bold;
}

.search {
	padding: 0.5rem;
	width: 40%;
	border-radius: 0.5rem;
	margin: 0;
	/* border: 0.1rem solid black; */
	border: none;
}

.user-info {
	font-weight: 600;
	font-size: 1.2rem;
	display: flex;
	flex-direction: row;
	gap: 1.2rem;
	align-items: center;
}

.navbar-uid {
	padding: 0;
	margin: 0;
	width: 11rem;
	text-align: right;
}

.settings-icon {
	font-size: 2rem;
	cursor: pointer;
}

.theme-settings-header {
	text-align: center;
	font-weight: bolder;
	/* height: 100%; */
	font-size: 1.4rem;
	padding: 0.5rem;
	margin: auto;
	color: white;
}

.page {
	margin: auto;
	margin-top: 4rem;
	/* margin-left: auto;
	margin-right: auto; */
	/* margin: 0 auto; */
	/* max-width: 100%; */
	padding: 2rem;
	/* padding-top: 7rem; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.mobile-user-info {
	display: none;
}

.search-menu {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 10;
}

/* .mobile-search-container {
	display: flex;
	flex-direction: row;
	gap: 0.1rem;
	align-items: center;
} */

.mobile-search {
	background-color: rgb(238, 238, 238);
	display: inline-block;
	width: 82%;
	box-sizing: border-box;
	padding: 0.75rem;
	border-radius: 0.5rem;
	margin: 1rem;
	margin-left: 3.25rem;
	/* border: 0.1rem solid black; */
	border: none;
}

.close-icon {
	color: black;
	font-size: 2rem;
	cursor: pointer;
	top: 0 !important;
	left: 0 !important;
	margin: 1rem;
	margin-top: 1.2rem;
}

@media only screen and (max-width: 320px) {
	.mobile-search {
		width: 75%;
	}
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
	.mobile-search {
		width: 80%;
	}
}

@media only screen and (min-width: 376px) and (max-width: 600px) {
	/* .header {
		display: none;
	} */
	.search {
		display: none;
	}
	.nav-bar {
		display: flex;
		flex-direction: row;
		/* gap: 0.5rem; */
		/* padding: 1rem; */
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		margin: auto;
		align-items: center;
		justify-content: space-between;
		color: white;
	}

	.header {
		font-size: 1.2rem;
	}

	.link {
		font-size: 1rem;
		display: none;
	}

	.user-info {
		font-size: 1.1rem;
		display: none;
	}

	.mobile-user-info {
		/* display: block; */
		display: flex;
		flex-direction: row;
		gap: 1rem;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (max-width: 1024px) {
	.nav-bar {
		display: flex;
		flex-direction: row;
		/* gap: 0.5rem; */
		/* padding: 1rem; */
		margin: auto;
		align-items: center;
		justify-content: space-between;
		color: white;
	}

	.header {
		font-size: 1.2rem;
	}

	.link {
		font-size: 1rem;
		display: none;
	}

	.user-info {
		font-size: 1.1rem;
		/* display: none; */
	}
}
