.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  background-color: var(--miku-color);
  color: white;
}

.nav-bar-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  color: white;
  align-items: center;
}

.header-link, .link {
  color: white;
  text-decoration: none;
}

.link {
  font-weight: 600;
  font-size: 1.2rem;
}

.link:hover, .settings-icon:hover {
  color: rgb(69, 69, 69);
}

.header {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
}

.search {
  padding: 0.5rem;
  width: 45%;
  border-radius: 0.5rem;
  margin: 0;
  border: 0.1rem solid black;
}

.user-info {
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  align-items: center;
}

.navbar-uid {
  padding: 0;
  margin: 0;
  width: 11rem;
  text-align: right;
}

.settings-icon {
  font-size: 2rem;
  cursor: pointer;
}

.page {
  margin-top: 3.8rem;
}