/* #root {
	max-width: 100%;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
} */

#root {
	width: 100%;
}

.no-posts,
.loading {
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.create-link {
	text-decoration: none;
}

.create-link:hover {
	color: rgb(69, 69, 69);
}

.posts-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 0.2rem;
	padding: 0;
	margin: 0.5rem 0.1rem;
}

.sort-filter {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding: 0;
	margin: 0.3rem 0.7rem;
	flex-wrap: wrap;
	/* margin-bottom: 0.3rem; */
}

.sort-container,
.filter-container {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	flex-wrap: wrap;
}

.sort,
.filter {
	padding: 0;
	margin: 0;
	font-size: 1rem;
}

.sort-flair,
.filter-flair {
	padding: 0 0.7rem;
	margin: 0;
	border-radius: 0.5rem;
	font-size: 1rem;
	color: white;
	text-shadow: 0 0 0.1rem black, 0 0 0.07rem black;
	cursor: pointer;
}

.active {
	color: rgb(211, 211, 211);
	cursor: default;
}

.discussion.active,
.achievements.active,
.question.active,
.gameplay.active {
	cursor: pointer;
}

.fab-container {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 1.5rem;
}

.fab {
	border-radius: 100%;
	border: none;
	padding: 0.9rem 1rem;
	cursor: pointer;
}

.fab:hover {
	border-radius: 100%;
	border: none;
	padding: 0.9rem 1rem;
	cursor: pointer;
}

.fab-icon {
	color: white;
}

@media only screen and (max-width: 320px) {
	.sort-filter {
		flex-direction: column;
		gap: 0.5rem;
		margin: auto;
	}

	.sort,
	.filter {
		font-size: 0.7rem;
	}

	.sort-flair,
	.filter-flair {
		padding: 0 0.3rem;
		border-radius: 0.5rem;
		font-size: 0.7rem;
	}

	.fab,
	.fab:hover {
		padding: 0.7rem 0.8rem;
	}

	.fab-container {
		margin: 1rem;
	}
}

@media only screen and (min-width: 321px) and (max-width: 400px) {
	.sort-filter {
		flex-direction: column;
		gap: 0.7rem;
		margin: auto 0.5rem;
	}

	.sort,
	.filter {
		font-size: 0.8rem;
	}

	.sort-flair,
	.filter-flair {
		padding: 0 0.3rem;
		border-radius: 0.5rem;
		font-size: 0.8rem;
	}

	.fab,
	.fab:hover {
		padding: 0.8rem 0.9rem;
	}

	.fab-container {
		margin: 1.2rem;
	}
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
	.sort-filter {
		flex-direction: column;
		gap: 0.75rem;
		margin: auto 0.5rem;
	}

	.sort,
	.filter {
		font-size: 0.8rem;
	}

	.sort-flair,
	.filter-flair {
		padding: 0 0.3rem;
		border-radius: 0.5rem;
		font-size: 0.8rem;
	}
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
	.sort-filter {
		flex-direction: column;
		gap: 1rem;
		margin: auto 1rem;
		margin-bottom: 0.7rem;
	}
}
