#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.no-posts, .loading {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-link{
  text-decoration: none;
}

.create-link:hover {
  color: rgb(69, 69, 69);
}

.posts-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0;
  margin: 0;
}

.sort-filter {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0;
  margin-bottom: 0.3rem;
}

.sort-container, .filter-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.sort, .filter {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.sort-flair, .filter-flair {
  padding: 0 0.7rem;
  margin: 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: white;
  text-shadow: 0 0 0.1rem black, 0 0 0.07rem black;
  cursor: pointer;
}

.active {
  color: rgb(211, 211, 211);
  cursor: default;
}

.discussion.active, .achievements.active, .question.active, .gameplay.active {
  cursor: pointer;
}

.fab-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1.5rem;
}

.fab {
  border-radius: 100%;
  border: none;
  padding: 0.9rem 1rem;
  cursor: pointer;
}

.fab:hover {
  border-radius: 100%;
  border: none;
  padding: 0.9rem 1rem;
  cursor: pointer;
}

.fab-icon {
  color: white;
}

.fab-icon:hover {
  color: rgb(211, 211, 211);
}
