:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  background-color: rgb(238, 238, 238);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --vs-color: #00cdba;
  --miku-color: #33CCBA;
  --rin-color: #FFCC11;
  --len-color: #FFEE12;
  --kagamine-color: #FFDD12; /* A mix of the Kagamine's individual colors */
  --luka-color: #FFBACC;
  --meiko-color: #DE4444;
  --kaito-color: #3367CD;

  --vs-color-dark: #1faea1;
  --miku-color-dark: #4ab5a8;
  --rin-color-dark: #dbb835;
  --len-color-dark: #dbd036;
  --kagamine-color-dark: #dbc436; /* A mix of the Kagamine's individual colors */
  --luka-color-dark: #f5c4d1;
  --meiko-color-dark: #c75b5b;
  --kaito-color-dark: #4a6eb6;

  --ln-color: #4455DD;
  --ichika-color: #33AAEE;
  --saki-color: #FFDD45;
  --honami-color: #EE6666;
  --shiho-color:  #BBDE22;

  --ln-color-dark: #5b67c6;
  --ichika-color-dark: #4fa2d2;
  --saki-color-dark: #e3cb61;
  --honami-color-dark: #da7a7a;
  --shiho-color-dark:  #a9c23e;

  --mmj-color: #6CCB20;
  --minori-color: #FFCDAC;
  --haruka-color:  #99CDFF;
  --airi-color:  #FFA9CC;
  --shizuku-color:  #9AEEDE;

  --mmj-color-dark: #6fb13a;
  --minori-color-dark: #f3d0b8;
  --haruka-color-dark:  #a8cdf0;
  --airi-color-dark:  #f2b6ce;
  --shizuku-color-dark:  #a7e1d6;

  --vbs-color: #EE1166;
  --kohane-color: #FF679A;
  --an-color: #00BBDC;
  --akito-color: #FF7721;
  --touya-color: #0077DD;

  --vbs-color-dark: #cd326e;
  --kohane-color-dark: #e87ea1;
  --an-color-dark: #21a4bb;
  --akito-color-dark: #de7e42;
  --touya-color-dark: #2174bc;

  --wxs-color: #FF9900;
  --tsukasa-color: #FFBB00;
  --emu-color: #FF66BC;
  --nene-color: #34DD9A;
  --rui-color: #BB88ED;

  --wxs-color-dark: #d99126;
  --tsukasa-color-dark: #d9a926;
  --emu-color-dark: #e87db9;
  --nene-color-dark: #4dc495;
  --rui-color-dark: #bb97de;

  --n25-color: #884499;
  --kanade-color: #BB6588;
  --mafuyu-color: #8889CC;
  --ena-color: #CCAA87;
  --mizuki-color: #E4A8CA;

  --n25-color-dark: #80518c;
  --kanade-color-dark: #ae728a;
  --mafuyu-color-dark: #9293c2;
  --ena-color-dark: #c2aa91;
  --mizuki-color-dark: #dbb1c9;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
